<div class="shop-item">
  <img class="img-responsive item-image" ng-src="{{$ctrl.item.image}}">
  <h4>{{$ctrl.item.name}}</h4>
  <p>{{$ctrl.item.description}}</p>
  <div class="row">
    <div class="col-xs-6">
      <span>Prix: <strong>{{$ctrl.item.price}} €</strong></span>
    </div>
    <div class="col-xs-6">
      <span>Reste: <strong>{{$ctrl.item.quantity}}</strong></span>
    </div>
  </div>
  <button ng-show="!$ctrl.admin" ng-disabled="$ctrl.item.quantity <= 0" ng-click="$ctrl.addToCart()" class="btn btn-primary"><span class="glyphicon glyphicon-gift"></span> Offrir</button>
  <button ng-show="$ctrl.admin" ng-click="$ctrl.deleteItem()" class="btn btn-danger">Delete</button>
  <button ng-show="$ctrl.admin" ng-click="$ctrl.updateItem(1)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></button>
  <button ng-show="$ctrl.admin" ng-click="$ctrl.updateItem(-1)" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></button>
</div>