.honeymoon{

    &-text{
        text-align:center;
        font-family: 'Indie Flower', cursive;
        font-size: 1.7em;
        margin-bottom: 30px;
    }

    .mauritius-text{
        text-align: right;
    }
}