.honeymoon{

    &-text{
        text-align:center;
        font-family: $font-emphasis;
        font-size: 1.7em;
        margin-bottom: 30px;
    }

    .mauritius-text{
        text-align: right;
    }

    h4{
        color: $pink;
    }
}