<div class="container-fluid" ng-controller="shopController as $ctrl" ng-show="$ctrl.isLoaded">

  <h3 translate="gifts_title"></h3>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p translate="gift_intro"></p>
    </div>
  </div>
  <h2 translate="gifts_florence"></h2>
  <div class="gifts_container">
    <div class="gift" ng-repeat="item in $ctrl.florenceItems">
      <shop-item item="item" cart="$ctrl.cart" admin="$ctrl.admin"></shop-item>
    </div>
  </div>
  <hr>
  <div>
    <h2 translate="gifts_mauritius"></h2>
    <div class="gifts_container">
      <div class="gift" ng-repeat="item in $ctrl.mauritiusItems">
        <shop-item item="item" cart="$ctrl.cart" admin="$ctrl.admin"></shop-item>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p translate="gifts_offer_other"></p>
      <form name="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-4 control-label" translate="gifts_other_name"></label>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="$ctrl.other.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label" translate="gifts_other_value"></label>
            <div class="col-xs-4">
                <input type="number" class="form-control" ng-model="$ctrl.other.price">
            </div>
            <div class="col-xs-4">
              <button ng-disabled="$ctrl.other.name.length == 0 || !$ctrl.other.price" ng-click="$ctrl.addOther()" class="btn btn-primary"><span class="glyphicon glyphicon-gift">&nbsp;<span translate="gifts_offer"></span></span></button>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <shop-cart cart="$ctrl.cart" on-cancel="$ctrl.resetCart()"></shop-cart>
    </div>
  </div>
</div>