body {
  font-family: 'Montserrat', 'Circular', 'Helvetica', 'sans-serif'; }

.menu {
  margin-top: 80px; }
  .menu a {
    background-color: #3fccda;
    color: #ffffff;
    border-radius: 30px;
    padding: 8px; }
  .menu a:hover {
    background-color: #ffffff;
    color: #3fccda;
    text-decoration: none; }

.menu-button {
  margin-right: 25px;
  margin-left: 25px; }

.page-inner {
  margin-top: 30px; }

.shop-item {
  padding: 4px;
  margin-bottom: 20px; }
  .shop-item .item-image {
    border-radius: 15px 50px; }

.cart {
  border: grey solid;
  border-radius: 30px;
  padding: 20px; }
