<div class="countdown">
    <div class="countdown-element">
        <div class="countdown-value">
            {{$ctrl.days}}
        </div>
        <div translate="countdown_days" class="countdown-label">
        </div>
    </div>
    <div class="countdown-element">
        <div class="countdown-value">
            {{$ctrl.hours | toFixedDigit}}
        </div>
        <div translate="countdown_hours" class="countdown-label">
        </div>
    </div>
    <div class="countdown-element">
        <div class="countdown-value">
            {{$ctrl.minutes | toFixedDigit}}
        </div>
        <div translate="countdown_minutes" class="countdown-label">
        </div>
    </div>
    <div class="countdown-element">
        <div class="countdown-value">
            {{$ctrl.seconds | toFixedDigit}}
        </div>
        <div translate="countdown_seconds" class="countdown-label">
        </div>
    </div>
</div>
