<div class="cart">
    <h3 translate="cart_title"></h3>
    <div translate="cart_empty" ng-show="$ctrl.cart.length == 0">
    </div>
    <div ng-hide="$ctrl.cart.length == 0">
        <ul>
            <li ng-repeat="item in $ctrl.cart">
                {{item.name}} - {{item.price}}€ x{{item.quantity}}
            </li>
        </ul>
        <div class="row">
            <div class="col-xs-4">
                <strong translate="cart_total"></strong> {{$ctrl.getTotal()}} €
            </div>
                <div class="col-xs-7 col-xs-offset-1">
                <button class="btn btn-primary" ui-sref="checkout({cart: $ctrl.cart})"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;<span translate="cart_checkout"></span></button>
                <button class="btn btn-danger pull-right" ng-click="$ctrl.cancel()"><span class="glyphicon glyhipcon-cancel"></span>&nbsp;<span translate="cart_reset"></span></button>
            </div>
        </div>
    </div>
</div>