
.announcement{
    text-align: center;
    font-size: xx-large;
    font-family: $font-emphasis;
}

#intro:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; // Set the Appropriate Height
  height: 50px; // Set the Appropriate Height
  visibility: hidden; 
}