<div id="intro" class="intro">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="img-container">
                        <img src="http://i.imgur.com/U0RBGEn.jpg" height="200" class="img-responsive img-circle">
                        <div class="img-text">Lynn Vleugels</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-separator">
                        <big>&amp;</big>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-container">
                        <img src="http://i.imgur.com/5Nlr8uE.jpg" height="200" class="img-responsive img-circle">
                        <div class="img-text">Thomas Mouchart</div>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="announcement">
                        <p translate="intro_announcement"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>