<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="img-container">
                    <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/10425173_10155389180970253_454118458486122404_n.jpg?oh=1053f1b7bef70f6e49b5d218c0ad08bb&oe=59529A56" height="200" class="img-responsive img-circle">
                    <div class="img-text">Lynn Vleugels</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="img-separator">
                    <big>&amp;</big>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img-container">
                    <img src="http://www.thomasmouchart.com/images/PhotoProfilCircle.png" height="200" class="img-responsive img-circle">
                    <div class="img-text">Thomas Mouchart</div>
                </div>
            </div>
        </div>
    </div>
</div>