$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$primary: #ffffff;
$secondary: #98FF98;

$blue: #3fccda; 
$magic-mint: #A9FBC3;
$pastel-purple: #B594B6;

// Colors

$brand-primary: $blue;