body{
  font-family: $font-text;
  font-size:15px;
  background-color: $mintcream;
}

h3{
    text-align: center;
    font-family: $font-titles;
    font-size: 40px;
    padding: 20px;
}

.content{
    margin-top:45px;
    margin-bottom: 45px;
    padding-bottom: 20px;
    //border: 1px solid $blue;
    border-radius: 20px;
}

.inscription-form{

    .header{
        text-align: center;
        margin:20px;
        font-size: 30px;
        font-style: italic;
    }
}

.fa-2x{
    font-size: 18px;
}

.location-map{
    border-radius: 20px;
}

.countdown{
    text-align: center;
    padding: 20px;
    background-color: $magic-mint;
    border-radius: 20px;
    //border: 1px solid $blue;

    .countdown-element{
        display: inline-block;
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
        font-style: italic;

        .countdown-label{
            font-size: 10px;
        }
        .countdown-value{
            font-size: 30px;
        }
    }
}

.full-width{
    width: 100%;
}

.map{
    min-height: 200px;
}

.img-container{
    margin: 20px;
    text-align: center;

    .img-text{
        margin-top: 10px;
        font-size:20px;
        font-style: italic;
    }
}

.img-separator{
    font-size:70px;
    font-style: italic;
    text-align: center;
    
    @media (min-device-width:768px){
        transform: translateY(50%);
    }
}

.img-rounded{
    border-radius: 20px;
}

.text-block{
    padding: 25px;
}

.banner-bottom{
    .author{
        padding-top: 15px;
        padding-bottom: 5px;
        text-align: center;
    }
}

.carousel{
    padding-top: 30px;
}