
body{
  font-family: 'Montserrat', 'Circular', 'Helvetica', 'sans-serif';
}

.menu{
  margin-top: 80px;

  a{
    background-color: $blue;
    color: $primary;
    border-radius: 30px;
    padding: 8px;
    margin-right: 25px;
    margin-left: 25px;
    text-decoration: none;

    &.active{
        background-color: transparent;
        color: $blue;
        border: 1px solid;
    }
  }

  a:hover{
      background-color: $primary;
      color: $blue;
      text-decoration: none;
  }

}

.page-inner{
    margin-top: 30px;
}

.shop-item{
    padding: 4px;
    margin-bottom: 20px;

    .item-image{
        border-radius: 15px 50px;
    }
}

.cart{
    border: $blue solid;
    border-radius: 30px;
    padding: 20px;
}

.inscription-form{
    margin-top: 30px;
    border: $blue solid;
    border-radius: 10px;
    padding: 20px;
}

.fa-2x{
    font-size: 18px;
}