$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$blue: #3fccda; 
$magic-mint: #A9FBC3;
$pastel-purple: #caece6;
$mint: #bdead3;
$light-pink: #e5daea;
$mintcream : #dfffef;
$light-blue: hsla(185, 67%, 66%, 0.5);
$light-green: rgba(3, 206, 129, 0.45);
$pink: #e077d2;

$primary: #03ce81;
$secondary: #D8CBE2;
$third: #56CBF9;
$four: #de71b7;
$white: #ffffff;

// Colors

$brand-primary: $primary;
$brand-secondary: $secondary;
$background-color: $mint;