$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$blue: #3fccda; 

$pastel-purple: #caece6;
$mint: #bdead3;
$light-pink: #e5daea;
$mintcream : #dfffef;
$light-blue: hsla(185, 67%, 66%, 0.5);
$light-green: rgba(3, 206, 129, 0.45);
$pink2: #e077d2;
$pink: #f7528e;

$primary: #03ce81;
$secondary: #D8CBE2;
$third: #56CBF9;
$four: #de71b7;
$white: #ffffff;

$almond: #ffeccc;
$turquoise: #26c5c4;
$gold: #caab07;
$magic-mint: #bbf7cc;
$blue: #13b4d0;

// Colors

$brand-primary: $primary;
$brand-secondary: $secondary;
$background-color: $mint;


// Fonts

$font-titles : 'Pacifico', cursive;
$font-text: 'Cabin', sans-serif;
$font-emphasis : 'Indie Flower', cursive;