$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$blue: #3fccda; 
$magic-mint: #A9FBC3;
$pastel-purple: #caece6;
$mint: #bdead3;
$light-pink: #e5daea;

$primary: #03ce81;
$secondary: #D8CBE2;
$third: #56CBF9;
$four: #D8CBE2;
$white: #ffffff;

// Colors

$brand-primary: $primary;
$brand-secondary: $secondary;
$background-color: $mint;