<table class="table">
    <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Joining?</th>
        <th>Note</th>
    </tr>
    <tr ng-repeat="guest in $ctrl.guests track by $index">
        <td>{{$index+1}}</td>
        <td>{{guest.name}}</td>
        <td>{{guest.email}}</td>
        <td>{{guest.joining ? 'Oui' : 'Non'}}</td>
        <td>{{guest.note}}</td>
        <td><span role="button" ng-click="$ctrl.removeGuest(guest)" class="glyphicon glyphicon-remove"></span></td>
    </tr>
</table>