.navbar{

    border-bottom: 1px solid $turquoise;
    background-color: white;
    font-family: $font-titles;

    li{

        &.language{
            float:right;
        }
    }

    .mobile-lang{
        float:right;
        padding:15px;
        
        @media (min-width: 768px){
            display: none;
        }
    }

    a{
        background-color: transparent !important;
        text-decoration: none;
        font-size:22px;
        color: $turquoise;

    &.active{
        color: $pink !important;
        
        }
    }

    a:hover{
        color: #6cebec; //!important;
        text-decoration: none;
    }

    .navbar-toggle{
        border-color: $turquoise;
    }

    .icon-bar{
        background-color: $turquoise !important;
    }
}